{% extends "admin_app/admin.html" %}
{% load static %}
{% block content %}

                
                


        <div class="row">
 
                <div class="col-lg-12">
                
                    <h1 class="page-header">Ingreso general: ${{total}}</h1> 
                    
                </div>
                
                <!-- /.col-lg-12 -->
        </div>


            {% for sucursal in sucursal_list %}
            {% with forloop.counter as foo_num %}
            
            <!--
            <div class="col-lg-3 col-md-6">
            {% if 'Walmart' in sucursal.nombre %}
                 <div class="panel panel-yellow">
            {% elif 'Sams' in sucursal.nombre %}    
                <div class="panel panel-primary">
            {% elif 'Soriana' in sucursal.nombre %}    
                <div class="panel panel-red">
            {% else %}    
                <div class="panel panel-green">
            {% endif %}
             /.row -->

             
             <div class="col-lg-3 col-md-6">
            
            {% with suma.pop as val %}
            {% if  val <= 100 %}  
                 <div class="panel panel-red">
            {% elif val <= 200 %}   
                <div class="panel panel-yellow">
            {% elif val > 200 %}    
                <div class="panel panel-green">
            {% else %}    
                <div class="panel panel-green">
            {% endif %}

                            <script>
                             
                                             
                            {% if forloop.first %}
                           
 
                               var data = []
                               var meses = ['Diciembre','Eenero']
  
                           
                        {% endif %}
                            data.push({ y: '{{sucursal.created|date:"Y-m-d"|slugify}}', a:  {{sucursal.entradas|add:"0"}}, b: {{sucursal.salidas|add:"0"}}});
                        {% if forloop.last %}
                         $(function() {
                                 config = {
                                    data: data,
                                    xkey: 'y',
                                    ykeys: ['a', 'b'],
                                    labels: ['Walmart', 'Soriana'],
                                    xLabels: 'day',
                                    fillOpacity: 0.6,
                                    hideHover: 'auto',
                                    behaveLikeLine: true,
                                    resize: true,
                                    pointFillColors:['#ffffff'],
                                    pointStrokeColors: ['black'],
                                    lineColors:['blue','red']
                                };
                                config.element = 'morris-area-chart';
                                Morris.Area(config);
                         });
                        {% endif %}
                            </script>
                             

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                {% if sucursal.tipo == "Automatizado" %}    
                                    <i class="fa fa-cogs fa-3x"></i>
                                {% elif  sucursal.tipo == "Semi-automatizado"%}    
                                    <i class="fa fa-hand-holding-usd fa-3x"></i>
                                {% else %}    
                                    <i class="fa fa-hand-holding-heart fa-3x"></i>
                                {% endif %}
                                    
                                </div>
                                <div class="col-xs-9 text-right">
                                    <h3 >{{sucursal.nombre}}</h3>
                                    <div> </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'admin_app:corte' sucursal.id %}" class="link">
                            <div class="panel-footer">
                                <span class="pull-left"> Cortes  ${{val}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="{% url 'admin_app:sucursal' sucursal.id %}" class="link">
                            <div class="panel-footer">
                                <span class="pull-left"> Detalles </span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="{% url 'admin_app:estadisticas-list' sucursal.id %}" class="link">
                            <div class="panel-footer">
                                <span class="pull-left"> Estadisticass </span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="{% url 'suscripcion:list' sucursal.id %}" class="link">
                            <div class="panel-footer">
                                <span class="pull-left"> Suscripciones </span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            
            
            
                 {% if foo_num|divisibleby:2%}
                    <!-- /.panel -->
                 {% endif %}
                {% endwith %}
                {% endwith %}
             {% endfor %}
             


        <div class="row">
 
                <div class="col-lg-12">
                    <h1 class="page-header">Estadisticas</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    
                    <!-- /.panel -->
                    
            <link href="{% static 'admin_app/vendor/morrisjs/morris.css' %}" rel="stylesheet">
            <link href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet">
            
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'admin_app/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'admin_app/vendor/morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'admin_app/data/morris-data.js' %}"></script>
    
{% endblock %}